/* CSS */

#uimanager_container .ui-manager .glance {
	width: 345px !important;
}

.skill-dots {
	vertical-align: top;
}

.glance-pin {
	display: none;
}

.external-template {
	display: flow-root !important;
	line-height: 1rem !important;
	height: 126px !important;
}

#contactContainer {
	display: flex !important;
}
