.bsn-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-flex;
    z-index: 1050;
    background: rgb(0 0 0 / 50%);
}

.bsn-modal-container {
    margin: auto;
    margin-top: 100px;   
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 3px;
    display: inline-flex;
	flex-direction: column;
}

.bsn-modal-container::after {
    margin: 1rem 1rem;
    color: #888;
    content: "Most changes require reloading the page"
}

.bsn-header {
    border-bottom: 1px solid #888;
    display: flex;
}

.bsn-title {
	margin: auto;
	position: relative;
}

.close-bsn-modal-btn {
    float: right;
    padding: 0 !important;
}

.setting_entry {
    display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-size: 2.5rem;
}

.setting_entry > * {
    margin: 0rem 1rem !important;
}

.bool_setting {
    background: unset;
}

.checkbox_switch {
    width: 2rem;
    height: 2rem;
}
