/* kb search home */

@font-face {
	font-family: Noto Mono for Powerline;
	src:url("https://github.com/VivianVerdant/service-now-userscripts/blob/main/Noto%20Mono%20for%20Powerline.ttf?raw=true") format("truetype");
}

:not(pre):not(code):not(textarea):not(tt):not(kbd):not(samp):not(var) {
    font-family: monospace !important;
    letter-spacing: -.1rem;
}

:root {
	--search-offset: 0px;
	--blue-highlight: #66afe9;

}

* {
    font-size: 12pt;
}

.search-bar {
	transform: translateX( var(--search-offset) );
}

div.cm-search-box {
	width: 98%;
}

div.container {

}

/* kb search results */
section.page {
	/*overflow-x: clip;*/
	max-width: 100%;
}

.sp-loading-indicator.la-sm {
	top: 20px;
	right: 40px;
    left: unset;
}

.container {
	width: 100% !important;
}

.search-bar {
	/*position: fixed !important;*/
	/*width: 100% !important;*/
	/*z-index: 1000 !important;*/
	width: 100% !important;
}

.sidefacets-no-padding > span:nth-child(1),
.sidefacets-no-padding > span:nth-child(n+3),
.kb-search-block > div:nth-child(3),
div.filter-icon-padding {
	display: none !important;
}

#kb_search_input {
	padding: 1rem;
	height: 3.4rem;
	border-radius: .4rem;
}

.fa-search::before {
	content: \f1dd !important;
	padding: 0px 0px !important;
}

.knowledge-articles {
	/*margin-top: 2.5rem !important;*/
	/*max-height: 13rem;*/
	overflow-y: scroll;
	max-width: 100%;
}

/*
.filter-class,
.sidefacets-no-padding,
.hidden-sm,
.hidden-xs,
*/
header,
.lang-icon,
.kb-breadcrumb,
.kb-about,/*
.kb-description,
.kb-detail,*/
.attach-detail,
.attach-icon,
.kb_container-right,
.kb-type,
.kb-icon-pad,
.kb-sort-block {
	display: none !important;
}

.glyphicon {
	padding-right: 5px;
}

.attach-title > a {
	font-size: 1rem !important;
}

.kb-description {
	word-break: unset !important;
	font-size: 1rem !important;
}

.kb-detail > div > strong {
	/*color: darkblue;*/
}

.kb-filter-block {
    display: none;
}

.facet-search {
    display: block !important;
}

.facet-detail.facet-scroll.ng-scope {
    max-height: unset;
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(1) {
	display: block !important;
	max-height: calc(100vh - 172px);
	overflow-y: scroll;
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(1) > div {
	border-bottom: 0.1rem solid var(--light);
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(2) {
	display: none !important;
}

div.hide-filters,
div[sn-atf-area="Company"] > div > div {
	display: block !important;
	width: 100%;
}


.kb_container-left{
	width: 100%;
}

html > body > div > section > main > div > div > sp-page-row:nth-child(2) > div {
	display: grid;
	grid-template-columns: 275px 275px calc(100% - 275px);
	grid-template-rows: calc(100vh - 60px);
	gap: 0px 0px;
	grid-template-areas:
    "filter results frame";
}

.search-bar {
	grid-area: search;
}

html > body > div > section > main > div > div > sp-page-row:nth-child(2) > div > div:nth-child(1) {
	/*display: none !important;*/
	grid-area: filter;
}

li > label {
	margin: .25rem;
}

li:has(input:checked) {
	background: var(--blue-highlight);
    /*outline: .4rem solid var(--blue-highlight);*/
}


.kb-facet-filter-block.ng-scope {
	display: block !important;
}

html > body > div > section > main > div > div > sp-page-row > div > div:nth-child(2) {
	grid-area: results;
	max-height: calc(100vh - 58px);
	overflow-y: scroll;
}

.panel.panel-default.knowledge-articles {
	overflow-y: clip;
}

div.collapse.in {
    display: block;
}

div.collapse {
    display: block;
}

.facet-field-padding {
	border-bottom: 0.1rem solid #DDDDDD;
}

.attach-results,
.facet-field-padding,
.panel-body,
.pad-bottom,
div.kb-search-block,
.kb-article-summary,
.kb-summary-block,
.padding-top,
.container,
.sp-row-content,
.col-md-12,
.col-xs-12,
.col-sm-12,
.col-lg-12,
.col-md-9,
.col-lg-9,
.col-md-3,
.kb-template,
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	min-height: 0 !important;
	min-width: 0 !important;
}

.expand-width {
	width: 100% !important;
}

.kr-border-bottom {
	border-bottom: 1px solid #939393;
}

.kbframe {
	/*background: pink;*/
	grid-area: frame;
	width: 100%;
	height: 100%;
}

h4,
h4 a,
.h4 {
	/*color: #333 !important;*/
	font-size: 1.4rem !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	min-height: 0 !important;
	min-width: 0 !important;
}
