* {
	word-break: break-word;
	/*max-width: 880px;*/
}

:root {
    font-size: 12pt !important;
	--header-color: #666;
	--search-offset: 0px;
	--blue-highlight: #66afe9;
    --seperater: grey;

    --accent-color: #66afe9;
    --accent-background: #576f83;
    --background: #4f4f4f;
    --text: white;
    --faded-text: gray;
    --link: lightblue;
    --link-highlight: lightpink;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--accent-color);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--background);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--background);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-color);
}

textarea::placeholder,
input::placeholder {
    color: var(--faded-text) !important;
}

span.panel-title > .transparent-button,
.panel,
.panel-default > .panel-heading,
.form-control {
    background: var(--background);
    color: var(--text);
}


a {
    color: var(--link) !important;
}

a.active,
a:hover {
    color: var(--link-highlight) !important;
}

.alert,
.alert-info,
.alert-dismissible {
	background-color: var(--accent-background) !important;
    background: var(--accent-background) !important;
    color: var(--text);
}

li,
span,
p,
table {
    background-color: transparent !important;
    background: transparent !important;
    color: var(--text);
}


.open > .dropdown-menu,
.btn-default:hover,
.btn-default,
.list-group-item,
body {
    font-size: 1rem !important;
    background: var(--background);
    color: var(--text);
}

* {
    color: var(--text);
    font-size: 1rem;
    line-height: 1rem;
}

@font-face {
	font-family: Noto Mono for Powerline;
	src:url("https://github.com/VivianVerdant/service-now-userscripts/blob/main/Noto%20Mono%20for%20Powerline.ttf?raw=true") format("truetype");
}

:not(pre):not(code):not(textarea):not(tt):not(kbd):not(samp):not(var) {
    font-family: monospace !important;
    letter-spacing: 0rem;
}

a {
	/*line-break: anywhere;*/
}

strong > * > *,
strong > *,
strong {
	font-size: 12pt !important;
}


section > table {
	width: 100% !important;
}

hr {
	width: 100%;
}

.panel-default > .kb-panel-heading.panel-heading {
	background: var(--header-color);
    /*height: 2.4rem;*/
}

.open > .dropdown-menu {
    width: max-content;
}

.open > #kbVersionButton,
#kbVersionButton:hover,
#kbVersionButton:active,
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle:hover,
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle:active {
  background-color: var(--background);

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: var(--header-color);

}

.alert,
.alert-info,
.alert-dismissible {
    position: fixed;
    top: 2.8rem;
    right: 0.8rem;
    width: 50%;
    height: 2rem;
    padding: .5rem;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 1rem;
    line-height: .5rem;
}

.better-kb-cbcopy {
	display: block;
	z-index: 150;
	font-size: 21pt;
	float: left;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0%);
	top: .6rem;
}

#kbVersionButton {
    height: 2.3rem;
}

.save_doc_btn {
    position: relative;
    top: -1rem;
    background: var(--background);
    display: none;
}

.kb-permalink {
    position: relative;
    top: .4rem;
    right: 3rem;
}

.kb-end-buttons {
    position: relative;
    top: -.26rem;
    right: 1rem;
}


.ng-scope.panel.panel-default.kb-desktop {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 38px calc(100vh - 40px);
	gap: 0px 0px;
	grid-template-areas:
		"header"
		"body";
}

.ng-scope.panel.panel-default.kb-desktop > div:nth-child(1) {
	grid-area: header;
}

.ng-scope.panel.panel-default.kb-desktop > div:nth-child(2) {
	grid-area: body;
	/* Firefox */
	/*max-height: -moz-calc(100vh - 45px);*/
	/* WebKit */
	/*max-height: -webkit-calc(100vh - 45px);*/
	/* Opera */
	/*max-height: -o-calc(100vh - 45px);*/
	/* Standard */
	/*max-height: calc(100vh - 45px);*/
	/*height: min-content;*/
	overflow-y: scroll;
}

/*
.kb-container-column.kb_container-left > span:nth-child(n+2) {
	display: none;
}

.kb-container-column.kb_container-right {
	display: none;
}*/

/* override css */
div.sp-page-root {
	/*margin-top: 45px;
	max-height: 100vh;*/
}

html {
	max-height: ;
}

.more-actions-menu {
	border: 0 !important;
    background: transparent !important;
}

section.page {
    /*overflow-x: clip;
    max-width: 100%;*/
}

.kb-number-info {
	width: max-content;
}

.container {
	max-width: 100% !important;
}


.knowledge-articles {
	/*margin-top: 2.5rem !important;*/
	/*max-height: 13rem;*/
	overflow-y: scroll;
	max-width: 100%;
}

header,
div.kb-number-info > span.ng-binding,
/*.input-group-btn,*/
.kb-breadcrumb,
.kb-about,
.kb-description,
.kb-detail,
/*.kb_container-right,*/
.kb-type,
.kb-icon-pad,
/*.navbar_fixed,*/
.kb-sort-block,
/*.navbar,*/
.sidefacets-no-padding,
.hidden-sm,
.hidden-xs,
.filter-class {
	display: none !important;
}

div > div > div.kb-panel-heading.panel-heading > span > div > span > div > span.ng-scope {
    font-size: 0;
}

#kbVersionButton {
    vertical-align: super;
}

.kb-permalink > button {
    vertical-align: -webkit-baseline-middle;
}

.kb_container-left{
	width: 100%;
}

.panel-title {
	display: fixed !important;
}

div[sn-atf-area="Most Recent Tasks"] {
	/*rotate: 45deg;*/
}

section > table,
.panel-heading {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: -webkit-fill-available;
}

.kb_container-right {
    width: auto;
}

.mce-toc > h2,
.kb-title-header {
    font-size: 1.5rem;
}


/*
.kb-panel-heading {
	position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
	display: flex;
	align-items: center;
}*/

/*
.kb-end-buttons {
	position: fixed;
    right: 50px;
    top: -1px;
    z-index: 100;
}*/

/*
.kb-permalink {
	position: fixed;
    right: 165px;
    top: 8px;
    z-index: 100;
}*/

#uiNotificationContainer {
	position: fixed !important;
    top: 50px !important;
	right: 50px;
    z-index: 100;
	width: fit-content;
}

.ng-scope.panel.panel-default.kb-desktop > div:nth-child(2),
.kb-view-content-wrapper,
.kb-permalink,
.ng-scope.panel.panel-default.kb-desktop,
.btn,
.kb-dropdown-button,
.kb-panel-title-header,
.padding-top,
.panel-body,
.pad-bottom,
.kb-search-block,
.kb-article-summary,
.kb-summary-block,
.container,
.sp-row-content,
.col-md-12,
.col-xs-12,
.col-sm-12,
.col-lg-12,
.col-md-9,
.col-lg-9,
.col-md-7,
.col-md-5,
.col-md-3,
.kb-template,
.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	min-height: 0 !important;
	min-width: 0 !important;
}

.expand-width {
	width: 100% !important;
}

.kr-border-bottom {
	border-bottom: 1px solid #939393;
}

h4,
h4 a,
.h4 {
	color: #333 !important;
	font-size: 1.4rem !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	min-height: 0 !important;
	min-width: 0 !important;
}

.container,
.col-md-1,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	width: unset;
}

/* MAIN TABLE FORMATTING */

a {
    font-size: 12pt;
}

img {
	max-width: 550px;
	object-fit: contain;
    /*width: 100%;*/
    height: auto;
    border: 1px solid black;
}

td, th, tr , table, tbody{
    width: -webkit-fill-available !important;
    height: -webkit-fill-available !important;
    min-width: 80px !important;
    max-width: 1280px !important;
}

article > section > table > tbody > tr > td:nth-child(1) {
    min-width: 140px !important;
    /*max-width: 180px !important;*/
    /*width: 180px !important;*/
}

article > section > table > tbody > tr > td:nth-child(2) {
    min-width: unset !important;
    width: max-content !important;
}
