/* kb search home */

:not(pre):not(code):not(textarea):not(tt):not(kbd):not(samp):not(var) {
    font-family: monospace !important;
    /*letter-spacing: -.1rem !important;*/
    /*font-size: 1rem !important;*/
}

HTML {
   /* font-size: 7pt;*/
}

:root {
    font-size: 12pt !important;
	--search-offset: 0px;
	--blue-highlight: #66afe9;
    --seperater: grey;

    --accent-color: #66afe9;
    --background: #4f4f4f;
    --text: white;
    --faded-text: gray;
    --link: lightblue;
    --link-highlight: lightpink;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--accent-color);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--background);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--background);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-color);
}

textarea::placeholder,
input::placeholder {
    color: var(--faded-text) !important;
}


span.ng-scope > div > div > div.kb-summary-block,
span.panel-title > .transparent-button,
.panel,
.panel-default > .panel-heading,
.form-control {
    background: var(--background);
    background-color: var(--background);
    color: var(--text);
}

div.kb-info > div > div > div.kb-description.ng-binding {
    color: var(--text);
}

a {
    color: var(--link) !important;
}

a.active,
a:hover {
    color: var(--link-highlight) !important;
}

body {
    font-size: 1rem !important;
    background: var(--background);
    color: var(--text);
}

* {
    font-size: 1rem;
    line-height: 1rem;
}

.search-bar {
	transform: translateX( var(--search-offset) );
}

div.cm-search-box {
	width: 98%;
}

#custom_notes {
	padding: 0;
	display: inline-flex;
	width: -webkit-fill-available;
}

#custom_notes_div {
	padding: 2px;
	height: 4rem;
	width: -webkit-fill-available;
	overflow-y: auto;
	background: rgb(0 250 0 / 20%);
}

#custom_notes_text {
	letter-spacing: -.1rem;
	width: -webkit-fill-available;
	resize: none;
	color: black;
	padding: 1px;
	height: 63px;
}

#toggle_notes_lock {

}

span.ng-scope > div > div > div.kb-summary-block {
    height: -webkit-fill-available;
}

main.body > div > div {
	display: grid;
	grid-template-columns: auto;
	max-height: calc(100vh - 6px);
	grid-template-rows: 6rem calc(100% - 6rem);
	gap: 0px 0px;
}

main.body > div > div > sp-page-row:nth-child(1) {
	grid-area: 1 / 1;
}

main.body > div > div > sp-page-row:nth-child(2) {
	grid-area: 2 / 1;
	display: grid;
	height: inherit;
}

main.body > div > div > sp-page-row:nth-child(2) > div {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 15rem 15rem calc(100% - 15rem) auto;
	grid-template-rows: calc(100vh - 6rem - 6px);
	gap: 0px 0px;
	grid-template-areas:
    "a b c";
}

/*
html > body > div > section > main > div > div > sp-page-row:nth-child(2) > div {
	grid-area: b;
	display: grid;
	grid-template-columns: 275px 275px calc(100% - 275px);
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
    "filter results frame";
}*/

div.kb-info > div > h4 > a.kb-title {
    word-break: break-word;
    font-size: 1rem;
    height: unset;
    display: flex;
}

div.kb-info > div > div > div.kb-description.ng-binding {
    height: 3.8rem;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: .75rem;
    line-height: .76rem;
}

html > body > div > section > main > div > div > sp-page-row:nth-child(2) > div > div:nth-child(1) {
	grid-area: a;
	display: grid;
	overflow-y: scroll;
}

html > body > div > section > main > div > div > sp-page-row > div > div:nth-child(2) {
	grid-area: b;
	overflow-y: scroll;
}

.kbframe {
	/*background: pink;*/
	grid-area: c;
	overflow-y: scroll;
	width: 100%;
	height: -webkit-fill-available;
}

.kb-search-block > div {
	display: none;
}

.kb-search-block > div:nth-child(1) {
	display: block;
	width: -webkit-fill-available;
}

/* kb search results */
section.page {
	/*overflow-x: clip;*/
	max-width: 100%;
}

.sp-loading-indicator.la-sm {
	top: 20px;
	right: 40px;
    left: unset;
}

.container {
	width: 100% !important;
}

/*.search-bar {
	/*position: fixed !important;*/
	/*width: 100% !important;*/
	/*z-index: 1000 !important;*/
	width: 100% !important;
}*/

.sidefacets-no-padding > span:nth-child(1),
.sidefacets-no-padding > span:nth-child(n+3),
.kb-search-block > div:nth-child(3),
div.filter-icon-padding {
	display: none !important;
}

#kb_search_input {
    height: 2rem;
}

.input-group-btn:last-child  > .btn, .input-group-btn:last-child  > .btn-group {
    height: 2rem;
    padding-top: 0;
}

.fa-search::before {
	content: \f1dd !important;
	padding: 0px 0px !important;
}

.knowledge-articles {
	/*margin-top: 2.5rem !important;*/
	/*max-height: 13rem;*/
	overflow-y: scroll;
	max-width: 100%;
}

.panel.panel-default > div.collapse.in > div {
    width: calc(15rem - 8px);
}

body > div > section > main > div > div > sp-page-row:nth-child(2) > div > div.sidefacets-no-padding.hide-filters.col-xs-12.col-sm-12.col-md-3.col-lg-3 > span:nth-child(2) {
    display: block !important;
}


body > div > section > main > div > div > sp-page-row:nth-child(2) > div > div.sidefacets-no-padding.hide-filters.col-xs-12.col-sm-12.col-md-3.col-lg-3 > span:nth-child(2) > div > div > div > div > div.panel-heading,
body > div > section > main > div > div > sp-page-row:nth-child(2) > div > div.sidefacets-no-padding.hide-filters.col-xs-12.col-sm-12.col-md-3.col-lg-3 > span,
/*
.filter-class,
.sidefacets-no-padding,
.hidden-sm,
.hidden-xs,
*/
header,
.lang-icon,
.kb-breadcrumb,
.kb-about,/*
.kb-description,
.kb-detail,*/
.attach-detail,
.attach-icon,
.kb_container-right,
.kb-type,
.kb-icon-pad,
.kb-sort-block {
	display: none !important;
}

.glyphicon {
	padding-right: 5px;
}

.attach-title > a {
	/*font-size: 1rem !important;*/
}

.kb-description {
	word-break: unset !important;
	/*font-size: 1rem !important;*/
}

.kb-detail > div > strong {
	/*color: darkblue;*/
}

.kb-filter-block {
    display: none;
}

.facet-search {
    display: block !important;
}

.facet-detail.facet-scroll.ng-scope {
    max-height: unset;
    overflow-x: hidden;
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(1) {
	display: block !important;
    width: 500px;
	/*max-height: calc(100% - 172px);*/
	/*overflow-y: auto;*/
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(1) > div {
	border-bottom: 0.1rem solid var(--seperater);
}

.facet-detail.facet-scroll.ng-scope > div:nth-child(2) {
	display: none !important;
}

div.hide-filters,
div[sn-atf-area="Company"] > div > div {
	display: block !important;
	width: 100%;
}


.kb_container-left{
	width: 100%;
}

li > label {
	margin: .25rem;
}

li:has(input:checked) {
	background: var(--blue-highlight);
    /*outline: .4rem solid var(--blue-highlight);*/
}


.kb-facet-filter-block.ng-scope {
	display: block !important;
}

.panel.panel-default.knowledge-articles {
	overflow-y: clip;
}

div.collapse.in {
    display: block;
}

div.collapse {
    display: block;
}

.facet-field-padding {
	border-bottom: 0.1rem solid #DDDDDD;
}

.attach-results,
.facet-field-padding,
.panel-body,
.pad-bottom,
div.kb-search-block,
.kb-article-summary,
.kb-summary-block,
.padding-top,
.container,
.sp-row-content,
.col-md-12,
.col-xs-12,
.col-sm-12,
.col-lg-12,
.col-md-9,
.col-lg-9,
.col-md-3,
.kb-template,
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	min-height: 0 !important;
	min-width: 0 !important;
}

/*.expand-width {
	width: 100% !important;
}*/

.kr-border-bottom {
	border-bottom: 1px solid #939393;
}

h4,
h4 a,
.h4 {
	/*color: #333 !important;*/
	/*font-size: 1.4rem !important;*/
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	min-height: 0 !important;
	min-width: 0 !important;
}
