.bsn-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-flex;
    z-index: 1050;
    background: rgb(0 0 0 / 50%);
    font-size: 16px;

    h6 {
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .bsn-modal-container {
        margin: auto;
        width: min-content;
        min-width: 450px;
        height: min-content;
        background: white;
        border-radius: 3px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        display: inline-flex;
        flex-direction: column;
    }

    .bsn-modal-container::after {
        margin: 1rem 1rem;
        color: #888;
        content: "Most changes require reloading the page"
    }

    .bsn-header {
        border-bottom: 1px solid #888;
        display: flex;
        margin-bottom: 1rem;
    }

    .bsn-title {
        margin: auto;
        position: relative;
    }

    .close-bsn-modal-btn {
        float: right;
        padding: 0 !important;
    }

    .setting_entry {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .setting_entry > * {
        margin: 0rem 1rem !important;
        min-height: 28px;
    }

    .bool_setting {
        background: unset;
    }

    .null_setting {
        text-decoration: underline;
    }

    .checkbox_switch {
        width: 2rem;
        height: 2rem;
    }

    span {
        width: 100%;
    }
}
