@keyframes blink{
  0% {
    background-color: #e85d46;
  }
  100% {
    background-color: black;
  }
  100% {
    background-color: #e85d46;
  }
}

.blinkey {
	animation: blink 1s infinite;
}

.selectmenu-container .selectmenu-menu-list {
    max-height: 370px !important;
}

@keyframes inboxanim{
  0% {
    background-color: #2b3139;
  }
  50% {
    background-color: mediumseagreen;
  }
  100% {
    background-color: #2b3139;
  }
}

.inbox-alert {
	animation: inboxanim 3s infinite;
}

@keyframes blink{
	0% {
		background-color: #e85d46;
	}
	100% {
		background-color: black;
	}*/
	100% {
		background-color: #e85d46;
	}
}

.blinkey {
	animation: blink 1s infinite;
}

.alternate-layout {
	.glance-workspace {
		background: #2861a8;
	}


	.skill-dots {
		vertical-align: top;
	}

	.glance-pin {
		display: none;
	}

	.external-template {
		display: flow-root !important;
		line-height: 1rem !important;
		height: 126px !important;
	}

	#contactContainer {
		display: flex !important;
	}

	div#uimanager_container div.ui-manager div.glance {
		left: 0;
		width: 100%;
		-webkit-transition: height .33333s ease;
		-moz-transition: height .33333s ease;
		-ms-transition: height .33333s ease;
		-o-transition: height .33333s ease;
		transition: height .33333s ease;
		bottom: 0;
		top: unset;
	}

	div.agent-state-ui ul.state-list li {
		padding: 1px !important;
	}



	div#uimanager_container div.ui-manager div.glance.glance-preview:not([data-pinned="true"]) #agentStateSection {
		left: 0;
	}

	div#uimanager_container div.ui-manager div.glance.glance-preview:not([data-pinned="true"]) #agentLegSection {
		left: 0;
	}

	div#uimanager_container div.ui-manager div.glance.glance-preview:not([data-pinned="true"]) div.glance-foot {
		margin-left: 0;
	}

	div#uimanager_container div.ui-manager div.glance.glance-preview:not([data-pinned="true"]) {
		height: 202px;
		left: 0;
	}

	div.agent-state-ui div.state-bar span.timer {
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 1px;
	}

	button.call {
		display: block;
	}

	button.call {
		display: block;
	}

	div.advanced-address-book-ui li.agent-template div.entry div.call-controls button.call {
		/* display: block; */
	}

	div#uimanager_container div.glance-only+.ui-frame,
	div#uimanager_container div.ui-frame {
		margin-left: 0px !important;
		padding-bottom: 205px;
	}

	.acw-ui[data-is-child-element="true"]:not([data-media-type="WorkItem"]) {
		bottom: 210px;
		left: 10px;
	}

	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	#dashboard {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	#ctl00_serverNameDiv,
	.nice-header,
	.cxone-sidebar,
	#ctl00_lblWebServerName {
		display: none !important;
	}

	#ctl00_pageContentDiv {
		margin-top: 17px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100%!important;
	}

	.page-content .dashboard {
		min-width: 0 !important;
	}

	.dashboard .widgetDroppable {
		min-width: 0 !important;
	}

	.dashboard .widgetContainer {
		margin: 2px !important;
	}

	div.evolve-sidebar-closed {
		left: unset !important;
	}

	.dashboard .consoleViewBar,
	#ctl00_pageContentDiv {
		margin-top: unset !important;
		padding: unset !important;
		margin-bottom: -14px !important;
		z-index: 9999 !important;
	}

	div > div.slick-cell.l1.r1.alignRight {
		width: 60px !important;
		left: 130px !important;
	}

	div > div.slick-cell.l2.r2.alignLeft {
		left: 230px !important;
	}

	[id*="AgentName"] {
		width: 100px !important;
	}

	[id*="LastUpdateTime"] {
		width: 100px !important;
	}
}
